@charset "UTF-8";

/*--------------------------------------------------------------
    TABLE OF CONTENTS: these sections are by selector and not the css styling.
----------------------------------------------------------------
1.0 - Settings: used with preprocessors and contain font, colors definitions, etc.
2.0 - Tools: globally used mixins and functions. Use for preprocessor only.
3.0 - Generic: reset and/or normalize styles, box-sizing definition, etc. (boxsetting, html selector, body selector)
        - Universal
4.0 - Elements: styling for bare/generic HTML elements (just h1, etc, p, ul,) (make subsections for tables and forms, etc) (no classes or IDs, but you can use direct descendant and first child as long as no classes etc) (img would have the media subhead; Headings, Paragraphs, Blockquotes, Anchors, table, form, image, content)
        - Typography
        - Lists
        - Anchor
5.0 - Objects: class-based selectors which define undecorated design patterns, building blocks (classes and IDs)
        - Framework
6.0 - Components: specific designed components (modular widgets that visually look the same but have one difference)
        - Buttons 
        - Related Articles
        - Footer
7.0 - Utilities: utilities and helper classes with ability to override anything which goes before in the triangle, eg. hide helper class (ex: if we want all the buttons to look the same)
        - Screen Reader
        - Color	    
--------------------------------------------------------------*/


/*--------------------------------------------------------------
    3.0 - GENERIC
-------------------------------------------------------------- */

/* ----- UNIVERSAL ----- */

* {
    font-family: 'Roboto Mono', monospace;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


/*--------------------------------------------------------------
    4.0 - ELEMENTS
-------------------------------------------------------------- */


/* ----- TYPOGRAPHY ----- */


/*--------------------------------------------------------------
    5.0 - OBJECTS
-------------------------------------------------------------- */

/* ----- FRAMEWORK ----- */

.wrapper {
    width: 1024px;
    margin: 0 auto; 
}


/*--------------------------------------------------------------
    6.0 - COMPONENTS
-------------------------------------------------------------- */

/* ----- HEADER ----- */



/* ----- ELEMENT-BOX ----- */


/* ----- DIMENSIONS -----*/



/* ----- WARNING ----- */



/* ----- BACKGROUND IMAGES -----*/


/* ----- ALT TEXT -----*/



/* ----- FOOTER -----*/


/*--------------------------------------------------------------
    7.0 - UTILITY
-------------------------------------------------------------- */

/* ----- SCREENREADER ----- */

.sr-only {
    position: absolute;
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	padding: 0 !important;
	margin: -1px !important;
	overflow: hidden !important;
	clip: rect(0,0,0,0) !important;
	white-space: nowrap !important;
	border: 0 !important;
}
